<include file="Public/header" title="公司文化"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {/*历史发展*/}
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>成长&幸福的记录</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-tools">
                        <a  href="__CONTROLLER__/add/type/1" title="添加纪录"><i class="glyphicon glyphicon-plus"></i></a>
                        &emsp;
                    </div>
                    </div>
                    {/*内容部分*/}
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>日期</th>
                                    <th>记录</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <volist name="history" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.time|date='Y-m-d H:i:s', ###}</td>
                                    <td>{$vo.history|mb_substr=0,20}</td>
                                    <td>
                                        <span title="记录信息" class="look" data="{$vo.id}" which="history"><i class="glyphicon glyphicon-search"></i></span>
                                        &emsp;
                                        <a  href="__CONTROLLER__/historyEdit/id/{$vo.id}" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                                        &emsp;
                                        <a href="javascript:;" title="删除" onclick="ask('{$vo.id}', 'history')"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {/*文化与宗旨*/}
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>文化与宗旨</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-tools">
                            <a  href="__CONTROLLER__/add/type/2" title="添加文化/宗旨"><i class="glyphicon glyphicon-plus"></i></a>
                            &emsp;
                        </div>
                    </div>
                    {/*内容部分*/}
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>简介</th>
                                <th>简介宣传照</th>
                                <th>宗旨</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="synopsis" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.synopsis|mb_substr=0,20}</td>
                                    <td><img src="{$vo.synopsis_photo}" style="width: 100px;height: 100px;"></td>
                                    <td>{$vo.tenet|mb_substr=0,20}</td>
                                    <td>
                                        <span title="简介" class="look" data="{$vo.id}" which="synopsis"><i class="glyphicon glyphicon-search"></i></span>
                                        &emsp;
                                        <span title="简介" class="look" data="{$vo.id}" which="tenet"><i class="glyphicon glyphicon-flag"></i></span>
                                        &emsp;
                                        <a  href="__CONTROLLER__/synopsisEdit/id/{$vo.id}" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                                        &emsp;
                                        <a href="javascript:;" title="删除" onclick="ask('{$vo.id}', 'synopsis')"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {/*名人榜*/}
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>名人榜</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-tools">
                            <a  href="__CONTROLLER__/add/type/3" title="添加名人"><i class="glyphicon glyphicon-plus"></i></a>
                            &emsp;
                        </div>
                    </div>
                    {/*内容部分*/}
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>姓名</th>
                                <th>简介</th>
                                <th>照片</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="personal" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.personal_synopsis}</td>
                                    <td><img src="{$vo.photo}" style="width: 100px;height: 100px;"></td>
                                    <td><if condition="$vo['status'] eq 1 ">是<else/>否</if></td>
                                    <td>
                                        <span title="个人简介" class="look" data="{$vo.id}" which="personal"><i class="glyphicon glyphicon-search"></i></span>
                                        &emsp;
                                        <a  href="__CONTROLLER__/personalEdit/id/{$vo.id}" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                                        &emsp;
                                        <a href="javascript:;" title="删除" onclick="ask('{$vo.id}', 'personal')"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/js"/>
    <script>
        function ask(id, which) {
            layer.confirm('确定删除吗？', {
                btn: ['是','否'] //按钮
            }, function(){
                location.href = '__CONTROLLER__/' +which+ 'Del/id/'+id;
            });
        }
        $('.look').on('click',function () {
            var id = $(this).attr('data');
            var which = $(this).attr('which');
            $.ajax({
                url:'__CONTROLLER__/' +which+ 'Show',
                data:{'id':id},
                success:function (data) {
                    layer.open({
                        title:'详细信息',
                        type: 1,
                        skin: 'layui-layer-demo', //样式类名
                        closeBtn: 0, //不显示关闭按钮
                        shift: 2,
                        area: ['400px', '380px'],
                        shadeClose: true, //开启遮罩关闭
                        content: data
                    });
                }
            });
        });
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>
