<include file="Public/header" title="我们"/>
<body>
<!-- Header Starts Here -->
<div class="header page-hed" >
	<div class="container">
	<div class="logo  p-log">
		<a href="/"><img src="__PUBLIC__/Home/images/logo.png"></a>
	</div>
	</div>
</div>
<div class="navigation">
	<span class="menu"></span>
	<ul class="navig">
		<li><a href="/">首页</a></li>
		<li><a href="{:U('Our/about')}" class="active">我们</a></li>
		<li><a href="{:U('Index/gallery')}">画廊</a></li>
		<li><a href="{:U('Index/blog')}">永恒</a></li>
		<li><a href="/Public/TOP" target="_blank">TOP</a></li>
		<li><a href="javascript:;">商店</a></li>
		<li><a href="javascript:;">蜜月计划</a></li>
		<li><a href="{:U('Our/our')}">联系我们</a></li>
	</ul>
	<script>
		$( "span.menu" ).click(function() {
		  $( "ul.navig" ).slideToggle( "slow", function() {
		    // Animation complete.
		  });
		});
	</script>
</div>
<!-- Header Ends Here -->
<!-- Page Starts Here -->
<div class="content">
	<div class="container">
			<div class="col-md-4 about-col">
				<h3>我们的文化</h3>
				<img src="{$synopsis.synopsis_photo}" alt="">
				{$synopsis.synopsis}
			</div>
			<div class="col-md-5 about-col">
				<h3>成长&幸福的记录</h3>
				<ul class="history">
					<li><span>2004</span>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
					</li>

				</ul>
			</div>
			<div class="col-md-3 about-col">
				<h3>我们的宗旨</h3>
				{$synopsis.tenet}
			</div>
			<div class="clearfix"></div>
			<div class="ideas">
				<div class="col-md-3 ideas-col">
					<img src="__PUBLIC__/Home/images/pic3.jpg" alt="">
					<h3>Donec finibus et liberovel imperdiet.</h3>
					<p>Pellentesque sed rutrum ante. Morbi dignissim ut urna eu luctus. </p>
				</div>
				<div class="col-md-3 ideas-col">
					<img src="__PUBLIC__/Home/images/pic2.jpg" alt="">
					<h3>Donec finibus et liberovel imperdiet.</h3>
					<p>Pellentesque sed rutrum ante. Morbi dignissim ut urna eu luctus. </p>
				</div>
				<div class="col-md-3 ideas-col">
					<img src="__PUBLIC__/Home/images/pic5.jpg" alt="">
					<h3>Donec finibus et liberovel imperdiet.</h3>
					<p>Pellentesque sed rutrum ante. Morbi dignissim ut urna eu luctus. </p>
				</div>
				<div class="col-md-3 ideas-col">
					<img src="__PUBLIC__/Home/images/pic4.jpg" alt="">
					<h3>Donec finibus et liberovel imperdiet.</h3>
					<p>Pellentesque sed rutrum ante. Morbi dignissim ut urna eu luctus. </p>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>
<include file="Public/footer"/>
<script>
	//记录
	var Chistory = {$history};
	var Hlen = Chistory.length;
	var Hcontent = '';
	for (var i = 0; i < Hlen; ++i) {
		var timer = new Date(Chistory[i].time * 1000).toLocaleDateString().substr(0, 4);
		Hcontent += '<li><span>' +timer+ '</span><p>' +Chistory[i].history+ '</p></li>';
	}
	$('.history').html(Hcontent);
	//名人榜
	var personal = {$personal};
	console.log(personal);
	var Plen = personal.length;
	var Pcontent = '';
	for (var j = 0; j < Plen; ++j) {
		Pcontent += '<h2>OUR名人榜</h2>';
		Pcontent += '<div class="col-md-3 ideas-col"><img src="' +personal[j].photo+ '"><h3>' +personal[j].name+ '</h3><p>' +personal[j].personal_synopsis+ '</p></div>';
	}
	$('.ideas').html(Pcontent);
</script>
</body>
</html>