<include file="Public/header" title="联系我们"/>
<body>
<div class="header page-hed">
	<div class="container">
	<div class="logo p-log">
		<a href="/"><img src="__PUBLIC__/Home/images/logo.png"></a>
	</div>
	</div>
</div>
<div class="navigation">
	<span class="menu"></span>
	<ul class="navig">
		<li><a href="/">首页</a></li>
		<li><a href="{:U('Our/about')}">我们</a></li>
		<li><a href="{:U('Index/gallery')}">画廊</a></li>
		<li><a href="{:U('Index/blog')}">永恒</a></li>
		<li><a href="/Public/TOP" target="_blank">TOP</a></li>
		<li><a href="{:U('WeddingStore/index')}">商店</a></li>
		<li><a href="{:U('Traveling/index')}">蜜月计划</a></li>
		<li><a href="{:U('Our/our')}" class="active">联系我们</a></li>
	</ul>
	<script>
		$( "span.menu" ).click(function() {
		  $( "ul.navig" ).slideToggle( "slow", function() {
		    // Animation complete.
		  });
		});
	</script>
</div>
<div class="content">
	<div class="container">
		<div class="gallery">
			<h3>我们在这里等着你</h3>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510409.9441035846!2d43.3713615!3d42.3207845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cd7e64f626b%3A0x4f907964122d4ac2!2sGeorgia!5e0!3m2!1sen!2sin!4v1419301288570"  frameborder="0" style="border:0"></iframe>
				<div class="address">
					<h4>我们的地址：</h4>
					<p>{$Caddress.address}</p>
					<h4>来程路线：</h4>
					<p>{$Caddress.line}</p>
					<p>Email：<a href="mailto:{$Caddress.email}">{$Caddress.email}</a></p>
					<p>联系电话：{$Caddress.telephone_number}</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<form method="post" action="{:U('Our/massage')}">
			<div class="contact-box">
				<div class="text">
					<input type="text" placeholder="姓名" required="" name="c_name">
					<input type="text" placeholder="电子邮件地址" required="" name="c_email">
					<input type="text" placeholder="标题" required="" name="c_title">
				</div>
				<div class="text">
					<textarea placeholder="信息内容" required="" name="c_content"></textarea>
				</div>
				<div class="text">
					<input type="submit" value="发送"/>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<include file="Public/footer"/>
</body>
</html>