<include file="Public/header" title="详细信息"/>
<body>
<!-- Header Starts Here -->
<div class="header page-hed">
	<div class="container">
	<div class="logo  p-log">
		<a href="/"><img src="__PUBLIC__/Home/images/logo.png"></a>
	</div>
	</div>
</div>
<div class="navigation">
	<span class="menu"></span>
	<ul class="navig">
		<li><a href="/">首页</a></li>
		<li><a href="{:U('Our/about')}">我们</a></li>
		<li><a href="{:U('Index/gallery')}">画廊</a></li>
		<li><a href="{:U('Index/blog')}" class="active">永恒</a></li>
		<li><a href="/Public/TOP" target="_blank">TOP</a></li>
		<li><a href="javascript:;">商店</a></li>
		<li><a href="javascript:;">蜜月计划</a></li>
		<li><a href="{:U('Our/our')}">联系我们</a></li>
	</ul>
	<script>
		$( "span.menu" ).click(function() {
		  $( "ul.navig" ).slideToggle( "slow", function() {
		    // Animation complete.
		  });
		});
	</script>
</div>
<!-- Page Starts Here -->
<div class="content">
	<div class="container">
		<div class="gallery">
			<h3>最近大事记</h3>
			<include file="Public/sidebar"/>
			<div class="blog-content">
				<div class="blog-post"  style="background-color: #FCFCFC;padding:0 30px 0;">
					<p>&nbsp;</p>
					<h4>{$article.title}</h4>
					<div class="post-details">
						<p>发布者：<a href="#">{$article.name}</a> &nbsp;&nbsp;发布时间：<span>{$article.send_date|date='Y/m/d H:i:s', ###}</span> &nbsp;&nbsp;地址：<span>{$article.address_name}</span></p>
					</div>
					<p>{$article.synopsis}</p>
					{$article.content}
					<p>&nbsp;</p><p>&nbsp;</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<include file="Public/footer"/>
</body>
</html>
	