<!DOCTYPE HTML>
<html>
<head>
    <title>[title]</title>
    <link href="__PUBLIC__/Home/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <link href="__PUBLIC__/Home/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.contentcarousel.js"></script>
    <script src="__PUBLIC__/Home/js/easing.js"></script>
</head>
