<include file="Public/header" title="画廊"/>
<body>
<!-- Header Starts Here -->
<div class="header page-hed">
	<div class="container">
	<div class="logo  p-log">
        <a href="/"><img src="__PUBLIC__/Home/images/logo.png"></a>
	</div>
	</div>
</div>
<div class="navigation">
    <span class="menu"></span>
    <ul class="navig">
        <li><a href="/">首页</a></li>
        <li><a href="{:U('About/about')}">我们</a></li>
        <li><a href="{:U('Index/gallery')}" class="active">画廊</a></li>
        <li><a href="{:U('Index/blog')}">永恒</a></li>
        <li><a href="/Public/TOP" target="_blank">TOP</a></li>
        <li><a href="contact.html">商店</a></li>
        <li><a href="contact.html">蜜月计划</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="contact.html">联系我们</a></li>
    </ul>
	<script>
		$( "span.menu" ).click(function() {
		  $( "ul.navig" ).slideToggle( "slow", function() {
		    // Animation complete.
		  });
		});
	</script>
</div>
<!-- Header Ends Here -->
<!-- Page Starts Here -->
<div class="content">
	<div class="container">
		<div class="gallery">
			<h3>ROMANTIC 画廊</h3>
			<p>幸福的瞬间将永远留在这里让世人见证，并成为永恒的幸福，期待你们就是下一对让世人见证的永恒！</p>
            <div class="gallery-top" id="wedding_photo">
                <div class="clearfix"></div>
            </div>
<!--			<div class="pag-nations">
                {$show}
				<ul class="p_n-list">
					<li><a href="#">Prev</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">More</a></li>
					<li><a href="#">19</a></li>
					<li><a href="#">20</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>-->
		</div>
	</div>
    <div class="pag-nations">
        {$show}
    </div>
</div>
<script>
    var photo = {$photo};
    var len = photo.length;
    var content = '';
    for (var i = 0; i < len; ++i) {
        var info = photo[i].info.substr(0,60);
        content +='<div class="view view-tenth"><a class="fancybox" href="' +photo[i].file_path+ '" title="' +photo[i].bride+ ' & ' +photo[i].bridegroom+ '">';
        content +='<img src="' +photo[i].file_path+ '" style="width: 100%;height: 100%;"/><div class="mask"><h2>' +photo[i].bride+ ' & ' +photo[i].bridegroom+ '</h2>';
        content +='<p>' +info+ '</p></div></a></div>';
    }
    $('#wedding_photo').html(content);
    //特效
$(document).ready(function(){$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"})});
</script>
<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/Admin/js/plugins/fancybox/jquery.fancybox.js"></script>
<include file="Public/footer"/>
</body>
</html>