<include file="Public/header" title="首页"/>
<body>
<!-- Header Starts Here -->
<div class="header">
	<div class="container">
		<div class="logo">
			<a href="/"><img src="__PUBLIC__/Home/images/logo.png"></a>
		</div>
	</div>
</div>
<div class="navigation">
	<span class="menu"></span>
	<ul class="navig">
		<li><a href="/" class="active">首页</a></li>
		<li><a href="{:U('About/about')}">我们</a></li>
		<li><a href="{:U('Index/gallery')}">画廊</a></li>
		<li><a href="{:U('Index/blog')}">永恒</a></li>
		<li><a href="/Public/TOP" target="_blank">TOP</a></li>
		<li><a href="contact.html">商店</a></li>
		<li><a href="contact.html">蜜月计划</a></li>
		<li><a href="contact.html">联系我们</a></li>
		<li><a href="contact.html">联系我们</a></li>
	</ul>
	<script>
		$( "span.menu" ).click(function() {
			$( "ul.navig" ).slideToggle( "slow", function() {
				// Animation complete.
			});
		});
	</script>
</div>
<div class="content">
	<div class="container">
		<div class="col-md-6 content-col">
			<img src="{$wedding.file_path}" alt="最美新人" width="570" height="300">
		</div>
		<div class="col-md-6 content-col col_2">
			<h2>最美殿堂</h2>
			<p>{$wedding.bride} & {$wedding.bridegroom}</p>
			<p>{$wedding.info|mb_substr=0,100}</p>
		</div>
		<div class="clearfix"></div>
		<div class="ideas">
			<h3>最新照片</h3>
			<volist name="photo" id="vol" offset="0" length="4">
				<div class="col-md-3 ideas-col">
					<img src="{$vol.file_path}" title="婚礼地址:{$vol.address_name}" width="260" height="160">
					<h3>{$vol.bride} & {$vol.bridegroom}</h3>
					<p style="color: grey;font-size: 12px;">婚礼地址:{$vol.address_name}</p>
					<p>{$vol.info|mb_substr=0,20}...</p>
				</div>
			</volist>
			<div class="clearfix"></div>
		</div>
		<div class="events">
			<div class="col-md-7 events-col">
				<div id="ca-container" class="ca-container">
				    <div class="ca-wrapper" id="wedding_photo">
					</div>
				</div>
			</div>
			<div class="col-md-5 events-col">
				<h3>最新活动</h3>
				<h4>2014年8月28日</h4>
				<p>信用评级机构VEL risus sodales得力士blandit porttitor简历简历mauris。Etiam rhoncus ultricies悲facilisis PORTA。</p>
				<h4>2014年8月28日</h4>
				<p>信用评级机构VEL risus sodales得力士blandit porttitor简历简历mauris。Etiam rhoncus ultricies悲facilisis PORTA。</p>
				<h3>快讯</h3>
				<p>Etiam坐阿梅德存有奥奇。Lorem存有悲坐阿梅德，consectetur adipiscing ELIT。Etiam SED arcu UT英里accumsan燕雀。</p>
<!--				<span class="subscribe">
					<input type="text" placeholder="Enter your email..." required=""/>
					<input type="submit" value="Go" />
				</span>
				<h3>Follow Us</h3>-->
<!--				<ul class="social">
					<li><a href="#"><i class="fa"></i></a></li>
					<li><a href="#"><i class="fb"></i></a></li>
					<li><a href="#"><i class="fc"></i></a></li>
				</ul>-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<include file="Public/footer"/>
<script>
	var photo = {$list};
	var len = photo.length;
	var content = '';
	for (var i = 1; i <= len; ++i) {
		var dater = parseInt(photo[i - 1].wedding_date) * 1000;
		var timer = new Date(dater).toLocaleString();
		var j = i-1;
		if (i % 2 != 0) {
			content += "<div class='ca-item ca-item-" +i+ "'> <div class='ca-item-main'>";
			content += "<div class='ca-icon' style='background: transparent  url(" +photo[j].file_path+ ") no-repeat center center;background-size: 100% 100%;'><div class='caption'>";
			content += "<p>" +photo[j].bride+ " & " +photo[j].bridegroom+ "<br>举行婚礼<br>" +timer+ "</p></div></div>";
		} else {
			content += "<div class='ca-icon' style='background: transparent  url(" +photo[j].file_path+ ") no-repeat center center;background-size: 100% 100%;'><div class='caption'>";
			content += "<p>" +photo[j].bride+ " & " +photo[j].bridegroom+ "<br>举行婚礼<br>" +timer+ "</p></div></div>";
			content +="</div></div>";
		}
	}
	$('#wedding_photo').html(content);
	$('#ca-container').contentcarousel();
</script>
</body>
</html>