<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
    <link href="__PUBLIC__/Home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="__PUBLIC__/Home/css/store_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="__PUBLIC__/Home/js/simpleCart.min.js"> </script>
    <!-- start menu -->
    <link href="__PUBLIC__/Home/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!--header-->
<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="#">help</a></li>|
                    <li><a href="contact.html">Contact</a></li>|
                    <li><a href="login.html">Track Order</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link">Email:<a href="mailto:info@example.com">mail@example.com</a></li>|
                    <li class="top_link"><a href="login.html">My Account</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="header-top">
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>Wedding Store</h1></a>
            </div>
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="grid"><a href="index.html">Home</a></li>
                    <li class="grid"><a href="#">Wedding</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="product.html">New Arrivals</a></li>
                                        <li><a href="product.html">Men</a></li>
                                        <li><a href="product.html">Women</a></li>
                                        <li><a href="product.html">Accessories</a></li>
                                        <li><a href="product.html">Kids</a></li>
                                        <li><a href="product.html">login</a></li>
                                        <li><a href="product.html">Brands</a></li>
                                        <li><a href="product.html">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="product.html">Men</a></li>
                                        <li><a href="product.html">Women</a></li>
                                        <li><a href="product.html">Brands</a></li>
                                        <li><a href="product.html">Kids</a></li>
                                        <li><a href="product.html">Accessories</a></li>
                                        <li><a href="product.html">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="product.html">Levis</a></li>
                                        <li><a href="product.html">Persol</a></li>
                                        <li><a href="product.html">Nike</a></li>
                                        <li><a href="product.html">Edwin</a></li>
                                        <li><a href="product.html">New Balance</a></li>
                                        <li><a href="product.html">Jack & Jones</a></li>
                                        <li><a href="product.html">Paul Smith</a></li>
                                        <li><a href="product.html">Ray-Ban</a></li>
                                        <li><a href="product.html">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Bride Style</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="product.html">New Arrivals</a></li>
                                        <li><a href="product.html">Men</a></li>
                                        <li><a href="product.html">Women</a></li>
                                        <li><a href="product.html">Accessories</a></li>
                                        <li><a href="product.html">Kids</a></li>
                                        <li><a href="product.html">login</a></li>
                                        <li><a href="product.html">Brands</a></li>
                                        <li><a href="product.html">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="product.html">Men</a></li>
                                        <li><a href="product.html">Women</a></li>
                                        <li><a href="product.html">Brands</a></li>
                                        <li><a href="product.html">Kids</a></li>
                                        <li><a href="product.html">Accessories</a></li>
                                        <li><a href="product.html">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="product.html">Levis</a></li>
                                        <li><a href="product.html">Persol</a></li>
                                        <li><a href="product.html">Nike</a></li>
                                        <li><a href="product.html">Edwin</a></li>
                                        <li><a href="product.html">New Balance</a></li>
                                        <li><a href="product.html">Jack & Jones</a></li>
                                        <li><a href="product.html">Paul Smith</a></li>
                                        <li><a href="product.html">Ray-Ban</a></li>
                                        <li><a href="product.html">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="typo.html">Typo</a></li>
                    <li class="grid"><a href="contact.html">Contact</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>