<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
    <link href="__PUBLIC__/Home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="__PUBLIC__/Home/css/store_style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="__PUBLIC__/Home/js/simpleCart.min.js"> </script>
    <!-- start menu -->
    <link href="__PUBLIC__/Home/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!-- /start menu -->
</head>
<body>
<!--header-->
<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="#">帮助</a></li>|
                    <li><a href="contact.html">联系方式</a></li>|
                    <li><a href="login.html">订单跟踪</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link">Email:<a href="mailto:info@example.com">joker@vip.com</a></li>|
                    <li class="top_link"><a href="login.html">我的账单</a></li>
                </ul>
            </div>
            <div class="clearfix">     </div>
        </div>
    </div>
</div>
<div class="header-top">
    <div class="header-bottom">
        <div class="container">
            <div class="logo">
                <a href="index.html"><h1>婚礼商店</h1></a>
            </div>
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="grid"><a href="{:U('Index/index')}">主页</a></li>
                    <li class="grid"><a href="#">婚礼</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>商店</h4>
                                    <ul>
                                        <li><a href="product.html">新鲜上架</a></li>
                                        <li><a href="product.html">男士</a></li>
                                        <li><a href="product.html">女士</a></li>
                                        <li><a href="product.html">配饰</a></li>
                                        <li><a href="product.html">儿童</a></li>
                                        <li><a href="product.html">我的购物车</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>风格特区</h4>
                                    <ul>
                                       <li><a href="product.html">男士</a></li>
                                        <li><a href="product.html">女士</a></li>
                                        <li><a href="product.html">配饰</a></li>
                                        <li><a href="product.html">儿童</a></li>
                                        <li><a href="product.html">伴奏风格</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>流行元素</h4>
                                    <ul>
                                        <li><a href="product.html">李维斯/Levis</a></li>
                                        <li><a href="product.html">普索/Persol</a></li>
                                        <li><a href="product.html">耐克/Nike</a></li>
                                        <li><a href="product.html">爱德华/Edwin</a></li>
                                        <li><a href="product.html">新百伦/New Balance</a></li>
                                        <li><a href="product.html">杰克琼斯/Jack & Jones</a></li>
                                        <li><a href="product.html">保罗·斯密斯/Paul Smith</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">新人造型</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>商店</h4>
                                    <ul>
                                        <li><a href="product.html">新鲜上架</a></li>
                                        <li><a href="product.html">男士</a></li>
                                        <li><a href="product.html">女士</a></li>
                                        <li><a href="product.html">配饰</a></li>
                                        <li><a href="product.html">儿童</a></li>
                                        <li><a href="product.html">我的购物车</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                   <h4>风格特区</h4>
                                    <ul>
                                       <li><a href="product.html">男士</a></li>
                                        <li><a href="product.html">女士</a></li>
                                        <li><a href="product.html">配饰</a></li>
                                        <li><a href="product.html">儿童</a></li>
                                        <li><a href="product.html">伴奏风格</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                     <h4>流行元素</h4>
                                    <ul>
                                        <li><a href="product.html">李维斯/Levis</a></li>
                                        <li><a href="product.html">普索/Persol</a></li>
                                        <li><a href="product.html">耐克/Nike</a></li>
                                        <li><a href="product.html">爱德华/Edwin</a></li>
                                        <li><a href="product.html">新百伦/New Balance</a></li>
                                        <li><a href="product.html">杰克琼斯/Jack & Jones</a></li>
                                        <li><a href="product.html">保罗·斯密斯/Paul Smith</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="typo.html">打印订单</a></li>
                    <li class="grid"><a href="contact.html">联系我们</a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>