<include file="Public/header" title="添加地址"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:U('added')}">
                                    <!--地址-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">公司地址</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="address"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <!--线路-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">公司线路</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="line"></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <!--email-->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" name="email" maxlength="20">
                                            </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <!--电话-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系电话</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" name="telephone_number" maxlength="11">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/js"/>
</body>
</html>
