<include file="Public/header" title="查看邮件"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <h5>文件夹</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                    <a href="__CONTROLLER__/index/type/got"> <i class="fa fa-inbox"></i> 收件箱 <span class="label label-warning pull-right">16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="__CONTROLLER__/index/type/sent"> <i class="fa fa-envelope-o"></i> 发件箱</a>
                                </li>
                                <li>
                                    <a href="__CONTROLLER__/index/type/threw"> <i class="fa fa-trash-o"></i> 垃圾箱</a>
                                </li>
                            </ul>
                            <a class="btn btn-block btn-primary compose-mail" href="{:U('mail_compose')}">写信</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <switch name="type">
                    <case value="1">
                        <div class="mail-box-header">
                            <h2>顾客简讯</h2>
                            <div class="mail-tools tooltip-demo m-t-md">
                                <h3><span class="font-noraml">主题： </span>{$massage.c_title}</h3>
                                <h5><span class="pull-right font-noraml">{$massage.send_date|date="Y-m-d H:i:s", ###}</span>
                                    <span class="font-noraml">发件人： </span>{$massage.c_name}&emsp;&emsp;
                                    Email：{$massage.c_email|default="暂无"}&emsp;&emsp;IP：{$massage.c_ip}</h5>
                            </div>
                        </div>
                        <div class="mail-box">
                            <div class="mail-body">
                                {$massage.c_content}
                            </div>
                    </case>
                    <case value="2">
                        <div class="mail-box-header">
                            <h2>查看邮件</h2>
                            <div class="mail-tools tooltip-demo m-t-md">
                                <h3><span class="font-noraml">主题： </span>{$massage.c_title}</h3>
                                <h5><span class="pull-right font-noraml">{$massage.send_date|date="Y-m-d H:i:s", ###}</span><span class="font-noraml">发件人： </span>{$massage.name}</h5>
                            </div>
                        </div>
                        <div class="mail-box">
                            <div class="mail-body">
                                {$massage.c_content}
                            </div>
                            <if condition="$massage['hasfile'] eq 1 ">
                            <div class="mail-attachment">
                                <p>
                                    <span><i class="fa fa-paperclip"></i> -- 共 {$count} 个附件 --</span><br>
                                    <p>&emsp;点击可下载附件</p>
                                </p>
                                <div class="attachment">
                                    <volist name="file" id="vo">
                                        <div class="file-box">
                                            <div class="file">
                                                <a href="__CONTROLLER__/downLoad/id/{$vo.id}">
                                                    <span class="corner"></span>
                                                    <div class="image" style="width: 200px;height: 200px;">
                                                        <img alt="image" class="img-responsive" style="width: 200px;height: 200px;" src="{$vo.file_path}">
                                                    </div>
                                                    <div class="file-name">{$vo.file_name}</div>
                                                </a>
                                            </div>
                                        </div>
                                    </volist>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            </if>
                    </case>
                </switch>
                    <div class="mail-body text-right tooltip-demo">
                        <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-reply"></i> 回复</a>
                        <button title="" data-placement="top" data-toggle="tooltip" data-original-title="删除邮件" class="btn btn-sm btn-white" onclick="del('{$massage.id}')"><i class="fa fa-trash-o"></i> 删除</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/js"/>
    <switch name="Think.session.theMail">
        <case value="1">
            <script>var url = '__CONTROLLER__/DelOne/id/';</script>
        </case>
        <case value="2">
            <script>var url = '__CONTROLLER__/myDelOne/id/';</script>
        </case>
        <case value="3">
            <script>var url = '__CONTROLLER__/realDelOne/id/';</script>
        </case>

    </switch>
    <script>
        function del(id) {
            location.href = url + id;
        }
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"})});
    </script>
</body>
</html>
