<include file="Public/header" title="添加"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:U('added')}">
                            <!--作者-->
                            <input type="hidden" value="{$Think.session.id}" name="author">
                            <!--标题-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title" maxlength="32">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--摘要-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="synopsis" maxlength="64">
                                </div>
                            </div>
<!--                            <div class="hr-line-dashed"></div>
                            &lt;!&ndash;新人姓名&ndash;&gt;
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新娘姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="bride" maxlength="8">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新郎姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="bridegroom" maxlength="8">
                                </div>
                            </div>-->
                            <!--新人-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择婚礼新人</label>
                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="wedding">
                                        <volist name="wed" id="vol">
                                            <option value="{$vol.id}">{$vol.bride}&{$vol.bridegroom}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                        <script type="text/plain" id="myEditor" style="width:1000px;height:240px;" name="content">
                                        </script>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/js"/>
    <script>
        var um = UM.getEditor('myEditor');
    </script>
</body>
</html>
