<include file="Public/header" title="BLOG"/>
<body class="gray-bg">
<div class="ibox-content icons-box">
    <div class="bs-glyphicons">
        <ul class="bs-glyphicons-list">
            <!--添加-->
            <a href="{:U('add')}" TARGET="_blank">
            <li>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon-class">添加</span>
            </li>
            </a>
        </ul>
    </div>
</div>
<!--内容-->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <volist name="info" id="vol">
                <div class="col-sm-4">
                <div class="contact-box">
                    <a href="__CONTROLLER__/article/id/{$vol.id}" target="_blank">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <if condition="$vol.has_avatar eq 0 ">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="__PUBLIC__/Admin/img/null.jpg" style="width: 138px;height: 136px;">
                                    <else/>
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="{$vol.avatar}" style="width: 138px;height: 136px;">
                                </if>
                                <div class="m-t-xs font-bold">作者:{$vol.name}</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>{$vol.bride}&{$vol.bridegroom}</strong></h3>
                            <p> {$vol.send_date|date='Y年m月d日 H时i分s秒',###}</p>
                            <p>{$vol.address_name} <i class="fa fa-map-marker"></i></p>
                            <p>{$vol.title}</p>
                            <div>{$vol.synopsis|mb_substr=0,20} ...</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                    <a  href="__CONTROLLER__/edit/id/{$vol.id}" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                    &emsp;
                    <a href="javascript:;" title="删除" onclick="ask('{$vol.id}')"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </div>
            </volist>
        </div>
    </div>
<include file="Public/js"/>
    <script>
        function ask(id) {
            layer.confirm('确定删除吗？', {
                btn: ['是','否'] //按钮
            }, function(){
                location.href = '__CONTROLLER__/del/id/'+id;
            });
        }
        $(document).ready(function(){$(".contact-box").each(function(){animationHover(this,"pulse")})});
    </script>
</body>
</html>
