<include file="Public/header" title="{$wedding.bride} AND {$wedding.bridegroom}"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <!--图片显示-->
                        <div class="ibox-content">
                           <!-- {$p}-->
<!--                            <script>
                               var photo = {$p};
                                var len = photo.length;
                      for (var i = 0; i < len; ++i) {
                                    var img = "<a class='fancybox' href='"+photo[i].file_path+"'><img alt='image' src='"+photo[i].file_path+"' /></a>&emsp;";
                                    document.write(img);
                                }
                            </script>-->
                            <!--图片上传-->
                            <span id="img"></span>
                             <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{:U('upload')}">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <div id="queue"></div>
                                        <input id="file_upload" name="file_upload" type="file" multiple="true">
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="button" value="图片管理" class="btn-rounded" style="width: 120px;height:32px;font-weight: bold;" onclick="location.href='__CONTROLLER__/'">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Public/js"/>
    <script>
        $(function() {
           // var upload = '';
            $('#file_upload').uploadify({
                'swf'      : '__PUBLIC__/Admin/uploadify/uploadify.swf',
                'uploader' : '__CONTROLLER__/upload',
                'onUploadSuccess' : function (file, data, response) {
                    var images = eval(data);
                    img(images);
                }
            });
            function img(photo) {
                var len = photo.length;
                var img = '';
                for (var i = 0; i < len; ++i) {
                    img += "<a class='fancybox' href='"+photo[i].file_path+"'><img alt='image' src='"+photo[i].file_path+"' style='width: 388px;height: 220px;'/></a>&emsp;";
                }
                $('#img').html(img);
            }
            img({$p});
        });
        //图片显示
        $(document).ready(function(){$(".fancybox").fancybox({openEffect:"none",closeEffect:"none"})});
    </script>
</body>
</html>
